@model DataModels.Student
@{
    ViewBag.Title = "在线报名";
}

<div class="jumbotron">
    <h2>江西陶瓷工艺美术职业技术学院--在线报名</h2>
    <p class="lead">在线报名包含两种学制报名，第一是五年制大专在线报名，第二是三年制大专单招报名。</p>
    @if (Convert.ToBoolean(Session["Student"]))
    {
        if (Model != null)
        {
            int id = Model.StudentId;
            <p>你已报名成功！查看信息请点击=>><a href="~/Student/Details/@id" class="btn btn-info btn-lg">查看报名信息 &raquo;</a></p>
        }
        else
        {
            <p>
                @foreach (var item in ViewBag.list as List<DataModels.Period_Category>)
                {
                    int id = item.Period_CategoryId;
                    <a href="~/Student/Create/@id" class="btn btn-danger btn-lg">@item.CategoryName 报名 &raquo;</a>  
                }
            </p>
        }

    }
    else
    {
        <p><a href="~/Login/Student_Reg" class="btn btn-primary btn-lg">在线报名入口 &raquo;</a></p>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>学院简介</h2>
        <p class="pfont">
            江西陶瓷工艺美术职业技术学院座落在举世闻名的千年瓷都、国家历史文化名城江西景德镇市区，毗邻世界著名的黄山、庐山、三清山、龙虎山等名山胜地。是经江西省人民政府批准、国家教育部备案的全国唯一所主要从事陶瓷材料与工艺美术类教育教学的公办全日制省示范性普通高等职业院校，隶属于江西省教育厅。
        </p>
        <p class="pfont">学校占地面积35.7万平方米，建筑面积20万平方米，建有一流的艺术教学大楼和实验实训中心，高规格图书馆，标准化运动场所，多功能学生活动中心和空调、热水器、卫生间、盥洗间一应俱全的学生寝室，学院坚持“人文、艺术、生态”的建设理念，校园环境清幽，花香流溢，自然风光和人文气息融为一体，科教精神与艺术氛围相得益彰，校园文化和职业文化相互映衬，是莘莘学子读书求学的理想之地，也是中国陶瓷文化艺术交流及创作的重要窗口和基地。</p>
        <p class="pfont">......</p>
        <p><a class="btn btn-default" href="http://www.jxgymy.com/xqzl.asp?nclassid=138&dy=2">查看详情 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>校园景色</h2>
        <p>
            <img src="http://www.jxgymy.com/bookpic/20138269591298756.jpg" height="330" width="360" />
        </p>
        <p><a class="btn btn-default" href="http://www.jxgymy.com/xqzl.asp?nclassid=137&dy=3">更多照片 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>历史沿革</h2>
        <p>
            1958年 江西省陶瓷学校<br />
            1979年 经江西省政府批准在现址复校，成立江西省景德镇陶瓷学校<br />
            1996年 增挂江西省工艺美术学校（按一校两牌模式办学）<br />
            2002年 经江西省政府批准，升格为公办全日制普通高等职业院校，更名江西陶瓷工艺美术职业技术学院<br />
            2010年 省级示范性高等职业院校<br />
            2011年 升格为副厅级事业单位
        </p>
        <p><a class="btn btn-default" href="http://www.jxgymy.com/xqzl.asp?nclassid=75&dy=2">查看详情 &raquo;</a></p>
    </div>
</div>